 

.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc; }
.flip-clock-wrapper a:hover {
  color: #fff; }
.flip-clock-wrapper ul {
  list-style: none; }
.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table; }
.flip-clock-wrapper.clearfix:after {
  clear: both; }
.flip-clock-wrapper.clearfix {
  *zoom: 1; }
/* Main */
.flip-clock-wrapper {
  font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none; }
.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  }
.flip-clock-meridium a { color: #313333; }
.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: auto;
  margin: 0;
}
.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.flip-clock-wrapper:after {
    clear: both;
}
/* Skeleton */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 15px;
  width: 120px;
  height: 200px;
  font-weight: bold;
  line-height: 150px;
  border-radius: 10px;
  background: #000;
}

/* Custom centered labels below each digit group */
.custom-clock-label {
  display: block;
  margin-top: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  width: 100%;
  letter-spacing: 1px;
  pointer-events: none;
  user-select: none;
}
.digit-group {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0 10px;
}

/* Dark/Light mode toggle styles */
.mode-toggle-container {
  position: fixed;
  top: 24px;
  right: 32px;
  z-index: 1000;
}
.mode-toggle-btn {
  background: #fff;
  color: #222;
  border: none;
  border-radius: 50%;
  font-size: 32px;
  width: 48px;
  height: 48px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}
.mode-toggle-btn:active {
  background: #eee;
}

/* Dark mode styles */
body.dark-mode {
  background: #181818;
  color: #eee;
}
body.dark-mode .flip-clock-wrapper ul {
  background: #222;
}
body.dark-mode .flip-clock-wrapper ul li a div div.inn {
  background-color: #333;
  color: #eee;
  text-shadow: 0 1px 2px #000;
}
body.dark-mode .custom-clock-label {
  color: #eee;
}
body.dark-mode .card-colon {
  color: #eee;
}
body.dark-mode .mode-toggle-btn {
  background: #222;
  color: #fff;
}

.card-colon {
  display: inline-block;
  vertical-align: middle;
  font-size: 120px;
  color: #000;
  margin: 0 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  user-select: none;
  pointer-events: none;
  line-height: 200px;
}
.flip-clock-divider {
  display: none !important;
}
.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 150px;
  text-decoration: none !important;
}
.flip-clock-wrapper ul li:first-child {
  z-index: 2; }
.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important; }
.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 140px;
  overflow: hidden; 
  outline: 1px solid transparent; }
.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }
.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }
.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 98px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 4px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4); }
.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ccc;
  text-shadow: 0 1px 2px #000;
  text-align: center;
    line-height: 200px;
  background-color: #333;
  border-radius: 10px;
  font-size: 180px; }
.flip-clock-wrapper ul li a div.up div.inn {
  top: 0; }
.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0; }
/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3; }
.flip-clock-wrapper .flip {   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); }
.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  -moz-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5; }

.flip-clock-divider:first-child {
  width: 0; }
.flip-clock-dot {
  display: block;
  background: #323434;
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  left: 7px; }
.flip-clock-divider .flip-clock-label {
  position: absolute;
  bottom: -2.2em;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
  text-shadow: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: max-content;
  pointer-events: none;
}
.flip-clock-divider.minutes .flip-clock-label {
  right: -88px; }
.flip-clock-divider.seconds .flip-clock-label {
  right: -91px; }
.flip-clock-dot.top {
  top: 50px; }
.flip-clock-dot.bottom {
  bottom: 50px; }
@-webkit-keyframes asd {
  0% {
    z-index: 2; }
  20% {
    z-index: 4; }
  100% {
    z-index: 4; } }
@-moz-keyframes asd {
  0% {
    z-index: 2; }
  20% {
    z-index: 4; }
  100% {
    z-index: 4; } }
@-o-keyframes asd {
  0% {
    z-index: 2; }
  20% {
    z-index: 4; }
  100% {
    z-index: 4; } }
@keyframes asd {
  0% {
    z-index: 2; }
  20% {
    z-index: 4; }
  100% {
    z-index: 4; } }
.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both; }
@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg); }
  100% {
    -webkit-transform: rotateX(0deg); } }
@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg); }
  100% {
    -moz-transform: rotateX(0deg); } }
@-o-keyframes turn {
  0% {
    -o-transform: rotateX(90deg); }
  100% {
    -o-transform: rotateX(0deg); } }
@keyframes turn {
  0% {
    transform: rotateX(90deg); }
  100% {
    transform: rotateX(0deg); } }
.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both; }
@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg); }
  100% {
    -webkit-transform: rotateX(-90deg); } }
@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg); }
  100% {
    -moz-transform: rotateX(-90deg); } }
@-o-keyframes turn2 {
  0% {
    -o-transform: rotateX(0deg); }
  100% {
    -o-transform: rotateX(-90deg); } }
@keyframes turn2 {
  0% {
    transform: rotateX(0deg); }
  100% {
    transform: rotateX(-90deg); } }
.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3; }
/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }
.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both; }
/*DOWN*/
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }
.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both; }
@-webkit-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
